.table-form {
  .m_text {
    background-color: #f5f5f5;
  }
  .search-control-header,
  .m_text {
    display: flex;
    justify-content: space-between;
    align-self: center;
    p {
      margin-left: 20px;
      font-size: 15px;
      font-weight: 600;
      padding: 10px 0;
      text-align-last: left;
    }
  }
  .user-control-btn {
    padding-top: 5px;
    padding-right: 5px;
  }
}
