@font-face {
  font-family: "iconfont"; /* Project id 3709719 */
  src: url('iconfont.woff2?t=1666836227592') format('woff2'),
       url('iconfont.woff?t=1666836227592') format('woff'),
       url('iconfont.ttf?t=1666836227592') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paiming:before {
  content: "\e605";
}

.icon-shouye:before {
  content: "\e606";
}

.icon-kaohe:before {
  content: "\e607";
}

.icon-xitongguanli:before {
  content: "\e608";
}

.icon-fenshu:before {
  content: "\e604";
}

.icon-renwuguanli:before {
  content: "\e601";
}

.icon-minjing:before {
  content: "\e603";
}

.icon-gonggao:before {
  content: "\e600";
}

.icon-kaohemoxing:before {
  content: "\e602";
}

